# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Deploy to Roku'
      'command': 'roku-deploy:deployRoku'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Roku Deploy'
      'submenu': [
        {
          'label': 'Seach Available Devices'
          'command': 'roku-deploy:searchDevices'
        }
        {
          'label': 'Deploy to Roku'
          'command': 'roku-deploy:deployRoku'
        }
      ]
    ]
  }
]
